@import "../../style/vars.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
	color: #fff;
	height: 30px;
	width: 100%;
  background-color: #20232a;
  .log {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
    height: 100%;
    cursor: pointer;
    flex: 100% 1 1;
    font-size: 15px;
    &:hover {
      background-color: #61dafb23;
    }
    .iconLog {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      svg {
        fill: #fff;
      }
    }
  }
	.rightGroup {
		display: flex;
    margin-left: auto;
	}

	.icon {
		padding: 5px 7px;
	
		&:hover {
			background-color: #61dafb23;
			cursor: pointer;
		}
	
		svg {
			fill: #fff;
			margin-top: 4px;
			height: 16px;
			width: 16px;

			@include click-rule;
		}
	}
}
