.appContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.dark {
    background: #1d2935;
    .foulderBtn{
      svg {
        fill: #000;
      }
    }
  }
}

.routeRowContainer, 
.routeColumnContainer {
  display: flex;
  height: 100%;
}

.routeColumnContainer {
  flex-direction: column;
  width: 100%;
}

.foulderBtn {
  width: 240px;
  margin: 22px auto 0;
  line-height: 26px;
  svg {
    width: 20px;
    fill: #fff;
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
}


