.logger {
  background: #fff;
  height: 174px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "toolbar"
      "logs";

  .header {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 6px 6px 16px;
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      svg {
        fill: #000;
      }
    }
  }
  .content {
    grid-area: logs;
    padding: 0 16px;
    overflow-x: hidden;
    overflow-y: auto;
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      font-family: Roboto Mono,monospace;
      box-sizing: border-box;
      padding: 2px 4px;
      font-size: 12px;
      .type {
        background: #03c2e6;
        color: #fff;
        text-transform: uppercase;
        padding: 2px 6px;
        border-radius: 3px;
      }
      .message {
        flex: 100% 1 1;
        width: 0;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 12px
      }
      .date {
        flex: auto 0 0;
      }
    }
  }
}
