.logger {
  background: #fff;
  height: 174px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "toolbar"
      "logs";

  .header {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 6px 6px 16px;
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      svg {
        fill: #000;
      }
    }
  }
  .content {
    grid-area: logs;
    padding: 0 16px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
