.folders {
	flex: 100% 1 1;
	overflow-x: hidden;
	overflow-y: auto;
  position: relative;

	.folderExplorerItem {
		padding: 16px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
    position: relative;

		&:hover {
			background: rgba(105, 221, 253, 0.54);
    }

		.folderName {
			-ms-flex: 100% 1 1;
			flex: 100% 1 1;
			margin-left: 16px;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
    }
	}
}
