.folders {
	overflow-x: hidden;
	overflow-y: auto;
  position: relative;

	.folderExplorerItem {
		border-radius: 3px;
		padding: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: none;
    position: relative;
		cursor: pointer;

		&:hover {
			background: #c8f3ff;
    }

		.folderName {
			display: flex;
			white-space: nowrap;

			&Text {
				margin-left: 16px;
			}

			svg {
				width: 24px;
				height: 24px;
			}
    }
	}
}
