.wrapper {
  width: 100%;
  height: 100%;
  .panel {
    padding: 16px;
    margin-left: 20px;
    background: #61dafb3f;
    button {
        span {
          position: relative;
          top: -3px;
        }
        svg {
          fill: #ffff;
          width: 20px;
          height: 20px;
        }
      }
    }
}
