.wrapper{
    height: 100%;
    width: 100%;
    background: #61dafb3f;
}

.top {
    background: #61dafb3f;
    width: 100%;
    height: 64px;
}

.content {
    padding: 35px;
}

@media screen and (max-width: 768px) {
    .wrapper{
        left: 70px;
    }
}
