.wrapperHeader {
	background-color: #262e41;
  color: #ffffff;
  width: 220px;
  height: 100%;
	position: relative;
	
	.dropdown{
		text-align: center;
		background-color: #61dafb3f;
		border: 3px solid transparent;
		color: #61dafb;
		background-clip: padding-box;
		border-radius: 25px;
		margin: 15px;
		padding: 5px 0px 5px 12px;
		cursor: default;	
	}

	.nav {
		// margin-top: 64px;
		width: 100%;
		line-height: 60px;
		overflow-x: auto;
		overflow-y: hidden;
		align-self: center;

		.active {
			color: #61dafb;
			background: #61dafb3f;
			svg {
				fill: #61dafb;
			}
		}

		a {
			cursor: pointer;
			color: #fff;
			font-size: 16px;
			font-weight: 300;
			display: flex;
			padding: 0 16px;

			&:hover{
				background: #61dafb3f;
				width: 100%;
			}

			svg {
				fill: #fff;
				width: 25px;
				height: 25px;
				margin-right: 8px;
				align-self: center;
			}

			&:hover {
				&:not(:focus) {
					color: #61dafb;
					svg {
						fill: #61dafb;
					}
				}
			}
		}
	}

	.wrapperLayout {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	
		.wrapperLogo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 315px;
			margin-right: 10px;
			color: #61dafb;
			height: 100%;

			span {
				color: inherit;
				margin-left: 10px;
				font-weight: 500;
				font-size: 20px;
			}

			img {
				display: inline-block;
				vertical-align: top;
				height: 25px;
			}
		}
	}

	.tooltip {
		min-width: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {

	.wrapperHeader {
		width: 50px;

		.nav {
			.active {
				border-bottom: 0px;
			}

			a {
				padding: 0;

				svg {
					padding: 10px;
					margin: 0 auto;
				}
			}
		}

		.wrapperLayout {
			padding: 0;
		}
	}

	.disableTitle {
		display: none;
	}
}