.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	justify-content: stretch;
	align-items: flex-start;
	width: 90%;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;

	.contentText{
		width: 100%;
		margin-top: 40px;
		font-size: 17px;
		line-height: 1.7;
		margin-bottom: 65px;
	}
}
