.dropdown {
  position: relative;
  .list {
    position: absolute;
    top: 35px;
    border: 1px solid #cacaca;
    background: #fff;
    width: 100%;
    padding: 5px 10px;
    z-index: 1000;
    color: #000;
    right: 0px;
    min-width: 270px;
    div {
      text-align: left;
      padding: 10px;
      font-size: 14px;
      width: 93%;
      line-height: 19px;
      &:hover{
        background: #c8f3ff;
      }
      svg {
        width: 18px;
        position: relative;
        top: 4px;
        margin-right: 8px;
      }
    }
  }

  .icon {
    width: 16px;
    height: 16px;

    svg {
        fill: #fff;
    }
  }
}

