.wrapperCard {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 15px rgba(0,0,0,.05);
	min-width: 400px;
	height: 200px;
	display: inline-block;
	margin: 0 20px;
	vertical-align: top;

	.killPors {
		padding: 20px;
		display: flex;
		flex-direction: column;

		.title {
			color: #4f6f7f;
			font-size: 16px;
		}

		.description {
			display: flex;
			align-items: center;
			color: #2c3e50;
			margin: 20px 0;

			.descriptionIcon {
				background: #00000008;
				border-radius: 30px;
				padding: 9px;
				width: 34px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10px;

				svg {
					fill: #6a8bad;
					height: 30px;
					width: 30px;
				}
			}
		}

		.content {
			display: flex;
			align-items: center;

			button {
				height: 45px;
				display: flex;
				min-width: 100px;
				padding: 10px 20px;
				justify-content: center;
				align-items: center;

				span {
					font-family: 'Roboto-Light', sans-serif;
					font-size: 17px;
				}

				svg {
					fill: #fff;
					height: 30px;
					width: 30px;
				}
			}
			
			div[class^="inputContent"] {
				height: 45px;
				margin-right: 10px;

				input {
					font-size: 17px;
				}
			}
		}
	}
}

@media screen and (max-width: 951px) {
	.wrapperCard{
		margin: 0 auto 40px auto;
		width: 75%;
	}
}

@media screen and (max-width: 560px) {
	.wrapperCard{
		margin: 0 auto 40px auto;
		width: 90%;
	}
}
