.appContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foulderBtn {
  width: 240px;
  margin: 22px auto 0;
  line-height: 26px;
  svg {
    width: 20px;
    fill: #fff;
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
}


