@import './vars.scss';
@import './fonts.scss';



* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow-x: hidden;
	position: relative;
	font-family: 'Roboto-Light', sans-serif;
}

html, body, #root, #root .constent{
	height: 100%;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	color: #fff;
	background: #20232a;
	padding: 10px;
	margin-right: 5px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid rgb(95, 95, 95);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
}

.checktheme {
	position: absolute;
	top: 42px;
	right: 50px;

	p {
		margin-top: -15px;
		text-align: center;
		color: rgb(118,118,118);
		font-size: 11px;

		&.actived{
			color: $color_title;
		}
	}
}

.checkbox {
	margin: 0 auto;
}

.custom-checkbox {
	position: relative;
	cursor: pointer;
	display: block;
	line-height: 20px;
}

.custom-checkbox-button {
	display: block;
	margin: 0 25px;
	width: 35px;
	border-radius: 12px;
	background: rgb(118, 118, 118);
	height: 20px;
	position: relative;
	bottom: -4px;
	cursor: pointer;
}
.custom-checkbox-button:before {
	background: #fff;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
  position: absolute;
	top: 0px;
	left: -1px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3), 0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3), 0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.custom-checkbox-button:after {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	background: #707070;
	border-radius: 50%;
	top: 4px;
	left: 3px;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.custom-checkbox.checked .custom-checkbox-button:before {
	left: 16px;
}
.custom-checkbox.checked .custom-checkbox-button:after {
	left: 20px;
	background: #61dafb;
}

.input__wrapper {
	.input__title {
		color: #2c3e50;
		font-size: 16px;
	}

	input {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: stretch;
		align-items: stretch;
		width: 97%;
		line-height: 24px;
		padding: 0px 5px;
		font-size: 14px;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}