$header_bg:#20232a;
$dark_body_bg:#282c34;
$color_title: #61dafb;

/* Animation click */
@mixin click-rule {
  &:active {
    -moz-transform: translatey(1px); /* Для Firefox */
    -ms-transform: translatey(1px); /* Для IE */
    -webkit-transform: translatey(1px); /* Для Safari, Chrome, iOS */
    -o-transform:translatey(1px); /* Для Opera */
    transform: translatey(1px);
  }
};