
.createContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  & > div {
    margin-bottom: 20px;
  }

  .createTitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .projectName {
    input {
      width: 100%;
    }
  }
}
