.modal {
    color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    label {
      font-size: 14px;
  
      strong {
        color: #2d3e4f;
        font-family: 'Roboto', sans-serif;
      }
    }
  
    button {
      margin-right: 0;
      padding: 7px 8px;
      border: 1px solid #c8f3ff;
      background-color: #c8f3ff8a;
  
      svg {
        fill: #2c3e50;
        width: 16px;
        height: 16px;
      }
    }
  
    & > div[class^='modalWrapper'] {
      & > div[class^='modalContent'] {
        width: 34%;
  
        div[class^='folders'] {
          max-height: 500px;
        }
  
        div[class^='modalFooter'] {
          button {
            color: #2c3e50;
            margin-left: 10px;
          }
        }
      }
    }
  }
  