@import "../../style/vars.scss";

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background-color: #20232a;
	color: #ffffff;
	margin-top:auto;
}

.translateIcon {
	padding: 5px 7px;

	&:hover {
		background-color: #61dafb78;
	}

	svg {
		fill: #fff;
		height: 16px;
		width: 16px;
		bottom: 7px;
		right: 20px;
		cursor: pointer;

		@include click-rule;
	}
}
