.wrapperCard {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 15px rgba(0,0,0,.05);
	width: 400px;
	height: 200px;
	display: inline-block;

	.killPors {
		padding: 20px;
		display: flex;
		flex-direction: column;

		.title {
			color: #4f6f7f;
			font-size: 16px;
		}

		.description {
			color: #2c3e50;
			margin: 20px 0;
		}

		.content {
			margin-top: 10px;
		
			input {
				margin-right: 10px;
				height: 21px;
				padding: 5px;
			}
		}
	}
}
