.wrapperHeader {
  background-color: #20232a;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapperHeader .nav{
  display: flex;
  height: 50px;
  line-height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapperHeader .nav .active{
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}

.wrapperHeader .nav a{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.wrapperHeader .nav a:hover:not(:focus) {
  color: #61dafb;
}

.wrapperLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1260px;
  width: 90%;
  padding: 20px 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapperLayout .wrapperLogo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  margin-right: 10px;
  color: #61dafb;
  height: 100%;
}

.wrapperLayout .wrapperLogo a span {
  color: inherit;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
}

.wrapperLayout .wrapperLogo a img {
  display: inline-block;
  vertical-align: top;
  height: 20px;
}