@import "../../style/vars.scss";

.toolbar {
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: space-between;
	padding: 16px 0;

  button {
    color: #fff;
    background: #20232a;
    padding: 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
  }
  
  .urlPaths {
    display: flex;
    flex: auto;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #c8f3ff;

    button {
      background-color: #c8f3ff;
      border-right: 2px solid #fff;
      border-radius: 2px 0 0 2px;

      svg {
        fill: #20232a;

        @include click-rule;
      }
    }

    .urlElement {
      padding: 5px;
      margin: 0 2px;
      background-color: #c8f3ff;
      cursor: pointer;
      border-right: 2px solid #fff;
    }
  }

  .icon {
    width: 16px;
    height: 16px;

    svg {
      fill: #fff;
    }
  }
}